@media screen and (max-width: 900px) {
  header.app-header {
    height: fit-content;
    flex-flow: column;
    justify-content: center;

    .title {
      margin: 0;
    }
  }
  .panel {
    display: none;
  }
  .leaflet-container {
    width: 100%;
  }
}
